.panel {
	padding: 0 40px;
}

a { 
	cursor: pointer;
}

h1 {
	font-size: 32px !important;
	margin: 40px 0 10px 0 !important;
}

h2 {
	font-size: 16px !important;
	margin: 0 0 20px 0 !important;
}

ul.menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.models {
	padding: 0 0 0 15px;
	margin: 0;
}

ul.menu li {
	margin: 10px 0;
}

ul.menu li.selected a {
	color: #000;
}

.submit {
	margin: 20px 0;
}

label {
	margin-top: 5px;
}
